@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 60 11% 96%;
  --foreground: 200 12% 5%;

  --card: 60 11% 96%;
  --card-foreground: 200 12% 5%;

  --popover: 60 11% 96%;
  --popover-foreground: 200 12% 5%;

  --primary: 228 50% 24%;
  --primary-foreground: 0 0% 98%;

  --secondary: 220 100% 93%;
  --secondary-foreground: 228 50% 24%;

  --muted: 220 20% 94%;
  --muted-foreground: 220 10% 40%;

  --accent: 227 100% 59%;
  --accent-foreground: 0 0% 100%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 220 10% 90%;
  --input: 220 10% 90%;
  --ring: 227 100% 59%;

  --radius: 0.5rem;
}

.dark {
  --background: 228 50% 5%;
  --foreground: 60 11% 96%;

  --card: 228 50% 5%;
  --card-foreground: 60 11% 96%;

  --popover: 228 50% 5%;
  --popover-foreground: 60 11% 96%;

  --primary: 60 11% 96%;
  --primary-foreground: 228 50% 24%;

  --secondary: 228 40% 15%;
  --secondary-foreground: 60 11% 96%;

  --muted: 228 40% 15%;
  --muted-foreground: 220 10% 60%;

  --accent: 227 100% 59%;
  --accent-foreground: 0 0% 100%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --border: 228 40% 20%;
  --input: 228 40% 20%;
  --ring: 227 100% 59%;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
  body ::selection {
    @apply bg-accent text-accent-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight font-bold;
  }
}
